# ===== Python =====
venv/
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

# ===== Flask =====
instance/
.env
.env.*

# ===== Databases =====
*.sqlite3
*.db
*.sql

# ===== Backups =====
backup_*.sql
backup_*.gz
backup_*.tar

# ===== Logs =====
*.log

# ===== Docker =====
*.pid

# ===== IDEs =====
.vscode/
.idea/

# ===== OS =====
.DS_Store
Thumbs.db

